<style>
  .cart-container {
    min-height: 80vh;
  }

  .cart-item {
    position: relative;
  }

  .cart-item-img {
    width: 200px;
    height: 200px;
  }

  .total-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cart_quantity_button {
    display: flex;
    align-items: center;
  }
</style>

<div class='container cart-container'>

  {{#if cart}}
  <div class='row'>

    <section id='cart_items'>
      <h2 class='title text-center'>Giỏ hàng của tôi</h2>
      <div class='container'>
        <div class='table-responsive cart_info'>
          <table class='table table-condensed'>
            <thead>
              <tr class='cart_menu'>
                <td class='image'>Sản phẩm</td>
                <td class='description'></td>
                <td class='price'>Giá</td>
                <td class='quantity'>Số lượng</td>
                <td class='total'>Tổng cộng</td>
                <td></td>
              </tr>
            </thead>
            <tbody>

              {{#each cart.cartItems as |item key|}}

              <tr>
                <td class='cart_product'>
                  <a href='/products/{{item.productId.slug}}'><img class='cart-item-img' src='{{item.image}}' /></a>
                </td>
                <td class='cart_description'>
                  <h4><a href='/products/{{item.productId.slug}}'>{{item.productId.name}}</a></h4>
                  <p style='text-transform: uppercase;'>{{item.color}},
                    {{item.size}}</p>
                </td>
                <td class='cart_price'>
                  <p style='text-decoration: line-through;'>{{item.price.base}}
                    {{item.price.currency}}</p>
                  <p>{{mul item.price.base (sub 1 item.price.discount)}}
                    {{item.price.currency}}</p>
                </td>

                <td class='cart_quantity'>
                  <div class='cart_quantity_button'>
                    <input type='hidden' name='cartItemId' value='{{item._id}}' />
                    <button class='cart_quantity_up btn' type='button' onclick="updateCartItem(this, 'increase')">
                      +
                    </button>
                    <div class='cart_quantity_input' type='text' name='quantity'>
                      {{item.quantity}}
                    </div>
                    <button class='cart_quantity_down btn' type='button' onclick="updateCartItem(this, 'decrease')">
                      -
                    </button>
                  </div>
                </td>

                <td class='cart_total'>
                  <p class='cart_total_price' id='item-total-price'>
                    {{mul
                    item.quantity
                    (mul item.price.base (sub 1 item.price.discount))
                    }}
                    {{item.price.currency}}
                  </p>
                </td>
                <td class='cart_delete'>
                  <input type='hidden' name='cartItemId' value='{{item._id}}' />
                  <button class='cart_quantity_delete btn btn-primary' type='button' onclick='deleteCartItem(this)'><i
                      class='fa fa-times'></i></button>
                </td>
              </tr>

              {{/each}}

            </tbody>
          </table>

        </div>

        <div class='cart__total mt-5 p-3'>
          <p class='total-item total-item--total'><span>Tổng:</span>
            <span id='cart-subtotal'>{{cart.subTotal}} </span>
          </p>
          <p class='total-item total-item--muted text-muted'><span>Phí vận
              chuyển:</span>
            <span id='cart-shipping-fee'>{{cart.shippingFee}} </span>
          </p>
          <p class='total-item total-item--total'><span>Thành tiền:</span>
            <span id='cart-total'>{{sum cart.subTotal cart.shippingFee}}
            </span>
          </p>
        </div>

        <form action='/cart/delete/{{cart._id}}' method='post'>

          <button type='submit' class='btn btn-primary'>Xoá giỏ hàng</button>

        </form>

      </div>
    </section>

    <form action='/orders' class='needs-validation' method='post'>
      <h2 class='title text-center'>Thông tin giao hàng</h2>
      <div class='mb-3'>
        <label for='name' class='form-label'>Tên người nhận</label>
        <input type='text' class='form-control' id='name' name='name' required />
      </div>
      <div class='mb-3'>
        <label for='phoneNumber' class='form-label'>Số điện thoại</label>
        <input type='tel' class='form-control' id='phoneNumber' name='phoneNumber' required />
      </div>
      <div class='mb-3'>
        <label for='address[city]' class='form-label'>Thành phố</label>
        <input type='pssword' class='form-control' id='address[city]' name='address[city]' required />
      </div>
      <div class='mb-3'>
        <label for='address[district]' class='form-label'>Quận/Huyện</label>
        <input type='text' class='form-control' id='address[district]' name='address[district]' required />
      </div>
      <div class='mb-3'>
        <label for='address[subDistrict]' class='form-label'>Phường/Xã</label>
        <input type='text' class='form-control' id='address[subDistrict]' name='address[subDistrict]' required />
      </div>
      <div class='mb-3'>
        <label for='address[street]' class='form-label'>Số nhà tên đường</label>
        <input type='text' class='form-control' id='address[street]' name='address[street]' required />
      </div>
      <button type='submit' class='btn btn-primary'>Đặt hàng</button>
    </form>
  </div>

  {{else}}

  <h1>Không có sản phẩm nào trong giỏ hàng
    <br />
    <a href='/' class='link'>Đặt hàng ngay</a>
  </h1>

  {{/if}}
</div>

<script src='/js/cart/cart.js'>

</script>
