<style>
  .order-item__image {
    max-width: 300px;
    max-height: 300px;
  }

  .order-item-list {
    max-height: 30vh;
    overflow-y: scroll;
  }
</style>

<div class='card order'>
  <ul class='order-item-list'>

    {{#each order.orderItems as |item key|}}

    <ul class='cart__item--list'>
      <li class='cart-item' style='display:flex; flex-direction:row; gap: 1rem'>
        <a href='/products/{{item.product.slug}}' class='product__thumbnail' class='d-block'>
          <img src='{{item.image}}' class='img-thumbnail cart-item__image' />
        </a>
        <div>
          <h6 class='cart-item__name'>{{item.product.name}}</h6>
          <span class='product__variation text-uppercase'>
            <p style='text-transform: uppercase;'>{{item.color}},
              {{item.size}}</p>
          </span>
          <div class='price'>
            <p>
              <span>Thành tiền: {{item.price}}</span>
              <span class='currency-symbol'>VND</span>
            </p>
          </div>
          <div class='add__product'>
            <span>Số lượng: {{item.quantity}}</span>
          </div>
        </div>
      </li>

    </ul>

    {{/each}}

  </ul>
  <div class='card-body'>
    <p class='card-text'>Tên người nhận: {{order.name}}</p>
    <p class='card-text'>Địa chỉ: {{order.address}}</p>
    <p class='card-text'>Số điện thoại: {{order.phoneNumber}}</p>
    <p class='card-text'>Hình thức thanh toán: {{order.paymentType}}</p>
    <p class='card-text'>Tổng: {{order.subtotal}}</p>
    <p class='card-text'>Phí giao hàng: {{order.shippingFee}}</p>
    <p class='card-text'>Thành tiền: {{order.total}}</p>
    <form action='/orders/edit/{{order._id}}' method='post'>
      <label class='card-text' for='status' val>Trạng thái:
      </label>
      <select name='status' id='status'>
        <option value='Đang xử lý' {{#if (eq order.status 'Đang xử lý' )}}selected{{/if}}>Đang xử lý</option>
        <option value='Đang giao hàng' {{#if (eq order.status 'Đang giao hàng' )}}selected{{/if}}>Đang giao hàng
        </option>
        <option value='Đã huỷ' {{#if (eq order.status 'Đã huỷ' )}}selected{{/if}}>Đã huỷ</option>
        <option value='Thành công' {{#if (eq order.status 'Thành công' )}}selected{{/if}}>Thành công</option>
      </select>

      <button type='submit'>Xác nhận</button>
    </form>
  </div>
</div>
