<style>
  .order {
    min-height: 80vh;
  }

  .order-item__image {
    max-width: 300px;
    max-height: 300px;
  }

  .order-item-list {
    max-height: 30vh;
    overflow-y: scroll;
  }

  .order-info {
    font-weight: bold;
  }

  .cart_product {
    display: flex;
  }

  .cart_menu {
    background: #FE980F;
    color: #fff;
    font-size: 16px;
    font-family:
      'Roboto', sans-serif;
    font-weight: normal;
  }

  .cart-item-img {
    max-width:
      200px;
    max-height: 200px;
  }
</style>

<div class='card order'>
  <h2 class='title text-center'>Đơn hàng</h2>

  <h3>Thông tin thanh toán</h3>

  <div class='container'>
    <div class='table-responsive cart_info'>
      <table class='table table-condensed'>
        <thead>
          <tr class='cart_menu'>
            <td class='image'>Sản phẩm</td>
            <td class='price'>Đơn giá</td>
            <td class='quantity'>Số lượng</td>
            <td class='total'>Thành tiền</td>
          </tr>
        </thead>
        <tbody>
          {{#each order.orderItems as |item key|}}

          <tr>
            <td class='cart_product'>
              <a href='/products/{{item.product.slug}}'><img class='cart-item-img' src='{{item.image}}' /></a>
              <div class='cart_product-info'>
                <a class='h4' href='/products/{{item.product.slug}}'>{{item.name}}</a>
                <p style='text-transform: uppercase;'>{{item.color}},
                  {{item.size}}</p>
              </div>
            </td>
            <td class='cart_price'>
              <p>{{item.price}}</p>
            </td>

            <td class='cart_quantity'>
              {{item.quantity}}
            </td>

            <td class='cart_total'>
              <p class='cart_total_price' id='item-total-price'>
                {{mul item.quantity item.price}}
              </p>
            </td>
          </tr>

          {{/each}}

        </tbody>
      </table>
    </div>

    <div class='cart__total mt-5 p-3'>
      <p class='card-text'><span class='order-info'>Tổng:</span>
        {{order.subtotal}}</p>
      <p class='card-text'><span class='order-info'>Phí vận chuyển:</span>
        {{order.shippingFee}}</p>
      <p class='card-text'><span class='order-info'>Thành tiền:</span>
        {{order.total}}</p>
    </div>
  </div>

  <h2 class='title'>Thông tin giao hàng</h2>
  <div class='card-body'>
    <p class='card-text'><span class='order-info'>Tên người nhận:</span>
      {{order.name}}</p>
    <p class='card-text'><span class='order-info'>Địa chỉ:</span>
      {{order.address}}</p>
    <p class='card-text'><span class='order-info'>Số điện thoại:</span>
      {{order.phoneNumber}}</p>
    <p class='card-text'><span class='order-info'>Hình thức thanh toán:</span>
      {{order.paymentType}}</p>
    <p class='card-text'><span class='order-info'>Tổng:</span>
      {{order.subtotal}}</p>
    <p class='card-text'><span class='order-info'>Phí giao hàng:</span>
      {{order.shippingFee}}</p>
    <p class='card-text'><span class='order-info'>Thành tiền:</span>
      {{order.total}}</p>
    <p class='card-text'><span class='order-info'>Trạng thái:</span>
      {{order.status}}</p>

    {{#if (eq order.status 'Đã huỷ')}}{{else}}

    <a href='' class='btn btn-primary' data-toggle='modal' data-id='{{order._id}}' data-target='#cancel-order-modal'>Huỷ
      đơn hàng</a>
    <form name='cancel-order-form' action='/orders/cancel/{{order._id}}' method='post'>
    </form>

    {{/if}}
  </div>
</div>

{{! Confirm cancel order }}
<div id='cancel-order-modal' class='modal fade' tabindex='-1' role='dialog'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>Huỷ đơn hàng</h5>
        <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        Bạn có chắc chắn muốn huỷ đơn hàng này?
      </div>
      <div class='modal-footer'>
        <button id='btn-cancel-order' type='button' class='btn btn-danger'>Huỷ
          đơn hàng</button>
        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Quay lại</button>
      </div>
    </div>
  </div>
</div>

<script src='/js/orders/cancel-order.js'>

</script>
