<div id="create-sku-page">
  <div class="bg">
    <div class="row">
      <div class="create-sku-form">
        <h2 class="title text-center">Create SKU</h2>
        <div class="status alert alert-success" style="display: none"></div>
        {{!-- Create Sku Form --}}
        <form id="create-sku" class="create-sku row" name="create-sku-form" method="POST"
          action="/products/{{product._id}}/createSku?_method=PUT">
          <div class="form-group col-md-12">
            <fieldset class="form-group row col-md-6">
              <legend class="col-form-label">Color</legend>
              <div class="col-sm-10">
                {{#each colorList}}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="color" id="{{this.[0].color.color_type}}Checkbox"
                    value='{"color_type": "{{this.[0].color.color_type}}","color_hex": "{{this.[0].color.color_hex}}"}'>
                  <label class="form-check-label" for="{{this.[0].color.color_type}}Checkbox">
                    {{this.[0].color.color_type}}
                  </label>
                </div>
                {{/each}}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="color" id="otherColorCheckbox" value='other'
                    required="required">
                  <label class="form-check-label labelOtherCheckbox" for="otherColorCheckbox">
                    New:
                  </label>
                  <div>
                    <span class="col-md-6">
                      <input class="form-check-input" type="text" name="inputOtherColorType" id="inputOtherColorType"
                        placeholder="Color type">
                    </span>
                    <span class="col-md-6">
                      <input class="form-check-input" type="text" id="inputOtherColorHex" name="inputOtherColorHex"
                        placeholder="Color Hex">
                    </span>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group row col-md-6">
              <legend class="col-form-label">Size</legend>
              <div class="col-sm-10">
                {{#each sizeList}}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="size"
                    id="size{{this.[0].size.[size_type]}}Checkbox"
                    value='{"size_type":"{{this.[0].size.[size_type]}}","size_details": {}}'>
                  <label class="form-check-label" for="size{{this.[0].size.[size_type]}}Checkbox">
                    Size {{this.[0].size.[size_type]}}
                  </label>
                </div>
                {{/each}}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="size" id="otherSizeCheckbox" value="other"
                    required="required" required="required">
                  <label class="form-check-label labelOtherCheckbox" for="otherSizeCheckbox">
                    New:
                  </label>
                  <div>
                    <span class="col-md-6">
                      <input class="form-check-input" type="text" name="inputOtherSizeType" id="inputOtherSizeType"
                        placeholder="Size type">
                    </span>
                    <span class="col-md-6">
                      {{!-- <input class="form-check-input" type="text" id="inputOtherSizeDetail"
                        name="inputOtherSizeDetail" placeholder="Color Rgb"> --}}
                    </span>
                  </div>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="form-group col-md-12">
            <legend class="col-form-label" for="quantity">Số lượng</legend>
            <input type="number" name="quantity" class="form-control" id="formQuantity" required="required">
          </div>
          <div class="form-group col-md-12">
            <fieldset class="form-group row">
              <legend class="col-form-label">Price</legend>
              <div class="form-group col-md-4">
                <label for="priceBase">Base</label>
                <input type="number" step="0.01" name="priceBase" class="form-control" id="formPriceBase"
                  required="required">
              </div>
              <div class="form-group col-md-4">
                <label for="priceCurrency">Currency</label>
                <input type="text" name="priceCurrency" class="form-control" id="formPriceCurrency" required="required">
              </div>
              <div class="form-group col-md-4">
                <label for="priceDiscount">Discount</label>
                <input type="number" step="0.01" name="priceDiscount" class="form-control" id="formPriceDiscount"
                  required="required">
              </div>
            </fieldset>
          </div>
          <div class="form-group col-md-12">
            <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>