<link href="/css/products/show.css" rel="stylesheet">
<link rel="stylesheet" href="/css/addons/rating.css">
<div class="product-details">
  <!--product-details-->
  <div class="col-sm-5">
    {{!-- <div class="view-product col-sm-">
      <img id="imgOnView" src="{{product.image.[0]}}" alt="" />
      <h3>ZOOM</h3>
    </div> --}}
    <!-- Slideshow container -->
    <div class="slideshow-container">

      <!-- Full-width images with number and caption text -->
      {{#each product.image}}
      <div class="mySlides">
        <img src="{{this}}" style="width:350px; height:400px">
        {{!-- <div class="text">Caption Text</div> --}}
      </div>
      {{/each}}

      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
  </div>

  <div class="col-sm-7">
    <div class="product-information" id="product-information">
      <!--/product-information-->
      {{#if (or (ne priceDetail.minPrice priceDetail.minPriceBase) (ne priceDetail.maxPrice
      priceDetail.maxPriceBase))}}
      <img src="/images/product-details/sale.jpg" class="newarrival" alt="">
      {{else}}
      {{#if (eq product.condition 'new')}}
      <img src="/images/product-details/new.jpg" class="newarrival" alt="" />
      {{/if}}
      {{/if}}
      <h2>{{product.name}}</h2>

      <form method="POST" action="/cart">
        <input type="hidden" name="productId" id="productId" value="{{product._id}}" />
        </p>
        <p><img src="/images/product-details/rating.png" alt="" /></p>
        {{#if (or (ne priceDetail.minPrice priceDetail.minPriceBase) (ne priceDetail.maxPrice
        priceDetail.maxPriceBase))}}
        {{#if (ne priceDetail.minPriceBase priceDetail.maxPriceBase)}}
        <p class="priceBefore" id="priceBefore">{{priceDetail.minPriceBase}} - {{priceDetail.maxPriceBase}}
          {{product.skus.[0].price.currency}}</p>
        {{else}}
        <p class="priceBefore" id="priceBefore">{{priceDetail.maxPriceBase}} {{product.skus.[0].price.currency}}
        </p>
        {{/if}}
        {{/if}}

        <span style="margin: 0px; ">
          {{#if (ne priceDetail.minPrice priceDetail.maxPrice)}}
          <span style="display:block; margin: 0px" id="priceCurrent">{{priceDetail.minPrice}} -
            {{priceDetail.maxPrice}}
            {{product.skus.[0].price.currency}}</span>
          {{else}}
          <span style="display:block; margin: 0px" id="priceCurrent">{{priceDetail.maxPrice}}
            {{product.skus.[0].price.currency}}</span>
          {{/if}}
        </span>

        <p>
          <span style="margin: 0px; ">
            <input required type=" text" value="1" name="quantity" />
          </span>

          <button type="submit" class="btn btn-fefault cart" id="cart-btn">
            <i class="fa fa-shopping-cart"></i>
            Add to cart
          </button>
        </p>
        <p>
          <b>Quantity: </b><span id="quantity">{{totalQuantity}}</span>
        </p>
        <p><b>Availability:</b> In Stock</p>
        <p><b>Condition:</b> New</p>
        <p><b>Sizes:</b></p>
        <div id="size-list">
          {{#each sizeList}}
          <input required class="btn-check" type="radio" value="{{this.[0].size.[size_type]}}"
            id="size-{{this.[0].size.[size_type]}}" name="size" autocomplete="off"
            onchange="sizeBtnClick({{json this}})">
          <label class="btn btn-warning size-btn"
            for="size-{{this.[0].size.[size_type]}}">{{this.[0].size.[size_type]}}</label>
          {{/each}}
        </div>

        <p><b>Colors:</b></p>
        <div class="colors">
          {{#each colorList}}
          <input required class="btn-check" value="{{this.[0].color.color_type}}" type="radio" name="color"
            id="color-{{this.[0].color.color_type}}" autocomplete="off" onchange="colorBtnClick({{json this}})">
          <label class="btn btn-warning" style="background: {{this.[0].color.color_hex}}"
            for="color-{{this.[0].color.color_type}}">
            <span class="glyphicon glyphicon-ok"></span>
            <span class="glyphicon glyphicon-remove"></span>
          </label>
          {{/each}}
        </div>

        <a href=""><img src="/images/product-details/share.png" class="share img-responsive" alt="" /></a>
      </form>
    </div>
    <!--/product-information-->
  </div>
</div>

<div class="category-tab shop-details-tab">
  <!--category-tab-->
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li><a href="#details" data-toggle="tab">Details</a></li>
      <li><a href="#tag" data-toggle="tab">Tag</a></li>
      <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane fade" id="details">

      <div class="col-sm-12">

        <pre>{{product.description}}</pre>
      </div>
    </div>

    <div class="tab-pane fade" id="tag">
      <div class="col-sm-3">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <img src="images/home/gallery1.jpg" alt="" />
              <h2>$56</h2>
              <p>Easy Polo Black Edition</p>
              <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <img src="images/home/gallery2.jpg" alt="" />
              <h2>$56</h2>
              <p>Easy Polo Black Edition</p>
              <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <img src="images/home/gallery3.jpg" alt="" />
              <h2>$56</h2>
              <p>Easy Polo Black Edition</p>
              <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <img src="images/home/gallery4.jpg" alt="" />
              <h2>$56</h2>
              <p>Easy Polo Black Edition</p>
              <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade active in" id="reviews" >
        <div class="col-sm-12">
            <div class="d-flex justify-content-center mt-100 mb-100">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Recent Comments</h4>
                                <h6 class="card-subtitle">Latest Comments section by users</h6>
                            </div>
                            {{#each comment}}
                            <div class="comment-widgets m-b-20">
                                <div class="d-flex flex-row comment-row">
                                    <div class="p-2"><span class="round"><img src="https://www.pngkey.com/png/detail/114-1149847_avatar-unknown-dp.png" alt="user" width="50"></span></div>
                                    <div class="comment-text w-100" id="{{this._id}}">
                                        <h4>{{this.name}}</h4>
                                        <div class="comment-footer">
                                            <ul class="mb-0">
                                                <li>
                                                    <a href=""><i class="fa fa-clock-o orange_color"></i>{{moment this.createdAt format="HH:mm"}}</a>
                                                </li>
                                                <li>
                                                    <a href=""><i class="fa fa-calendar-o orange_color"></i>{{moment this.createdAt format="DD MMM YYYY"}}</a> 
                                                </li>
                                                <span class="action-icons"> {{#if (compareString this.email ../isLogin)}}<a data-abc="true" onclick="updateComment({{json this}})"><i class="fa fa-pencil orange_color"></i></a> &nbsp <a data-abc="true" onclick="deleteComment({{json this}})"><i class="fa fa-trash-o orange_color"></i></a>{{/if}}</span> 
                                                {{!-- &nbsp <a href="#" data-abc="true"><i class="fa fa-heart orange_color"></i></a> --}}
                                            </ul>
                                        </div>
                                        <p class="m-b-5 m-t-0">{{this.comment}}</p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                            <div class="modal" id="confirmDel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Xoá bình luận</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Bạn có chắc chắn muốn xoá bình luận này?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmDel_btn">Xoá</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{#if isLogin}}
                <hr class="mt">
                <p ><b>Write Your Review</b></p>
                <form action="/products/{{product.slug}}" method="post" onsubmit="return validateForm()">
                    <input type="hidden" name="productId" value="{{product.slug}}" />
                    <input type="hidden" name="email" value="{{isLogin}}" />
                    
                    <textarea name="comment" id="mycomment"></textarea>
                    <div class="modal" id="genericModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header text-center">
                                <h5 class="modal-title">Quá ít kí tự.</h5>
                            </div>
                            <div class="modal-body">
                                <p>Cảm ơn bạn đã dành thời gian review. Vui lòng viết thêm vài lời review cho sản phẩm này nhé.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="rate">
                        <span class="ratelabel"><b>Rating: </b></span>
                        <input type="radio" id="star5" name="rate" value="5" checked/>
                        <label for="star5" title="5 sao">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="4 sao">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="3 sao">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="2 sao">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="1 sao">1 star</label>
                    </div>
                    <button type="submit" class="btn btn-default pull-right" id="submit_btn" >
                        Submit
                    </button>
                </form>
            {{else}}
                <p><b>Log in to write Your Review</b></p>
                <a href="/login"><button type="button" class="btn btn-default btn-lg btn-block">Login here</button></a>
            {{/if}}
        </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane fade" id="details">
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/gallery1.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/gallery2.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/gallery3.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/gallery4.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="companyprofile">
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/gallery1.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/gallery3.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/gallery2.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/gallery4.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="tag">
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/gallery1.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/gallery2.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/gallery3.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/gallery4.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{!-- <div class="tab-pane fade active in" id="reviews">
        <div class="col-sm-12">
          <div class="container d-flex justify-content-center mt-100 mb-100">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Recent Comments</h4>
                    <h6 class="card-subtitle">Latest Comments section by users</h6>
                  </div>
                  {{#each comment}}
                  <div class="comment-widgets m-b-20">
                    <div class="d-flex flex-row comment-row">
                      <div class="p-2"><span class="round"><img
                            src="https://www.pngkey.com/png/detail/114-1149847_avatar-unknown-dp.png" alt="user"
                            width="50"></span></div>
                      <div class="comment-text w-100">
                        <h4>{{this.name}}</h4>
                        <div class="comment-footer">
                          <ul class="mb-0">
                            <li>
                              <a href=""><i class="fa fa-clock-o orange_color"></i>{{moment this.createdAt
                                format="HH:mm"}}</a>
                            </li>
                            <li>
                              <a href=""><i class="fa fa-calendar-o orange_color"></i>{{moment this.createdAt format="DD
                                MMM YYYY"}}</a>
                            </li>
                            <span class="action-icons"> {{#if (compareString this.email ../isLogin)}}<a href="#"
                                data-abc="true"><i class="fa fa-pencil orange_color"></i></a>{{/if}} &nbsp <a href="#"
                                data-abc="true"><i class="fa fa-heart orange_color"></i></a> </span>
                          </ul>
                        </div>
                        <p class="m-b-5 m-t-0">{{this.comment}}</p>
                      </div>
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
          {{#if isLogin}}
          <p><b>Write Your Review</b></p>
          <form action="/products/{{product._id}}" method="post" onsubmit="return validateForm()">
            <input type="hidden" name="productId" value="{{product._id}}" />
            <input type="hidden" name="email" value="{{isLogin}}" />

            <textarea name="comment" id="mycomment"></textarea>
            <div class="modal fade" id="genericModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h5 class="modal-title">Quá ít kí tự.</h5>
                  </div>
                  <div class="modal-body">
                    <p>Cảm ơn bạn đã dành thời gian review. Vui lòng viết thêm vài lời review cho sản phẩm này nhé.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="rate">
              <span class="ratelabel"><b>Rating: </b></span>
              <input type="radio" id="star5" name="rate" value="5" checked />
              <label for="star5" title="5 sao">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4" title="4 sao">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="3 sao">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="2 sao">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="1 sao">1 star</label>
            </div>
            <button type="submit" class="btn btn-default pull-right" id="submit_btn">
              Submit
            </button>
          </form>
          {{else}}
          <p><b>Log in to write Your Review</b></p>
          <a href="/login"><button type="button" class="btn btn-default btn-lg btn-block">Login here</button></a>
          {{/if}}
        </div>

      </div> --}}

    </div>
    {{!-- <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
      <i class="fa fa-angle-right"></i>
    </a> --}}
  </div>
</div>
<!--/recommended_items-->

<script src="/js/products/show.js"></script>
<script src="/js/addons/checkcmt.js"></script>