<link href="/css/products/show.css" rel="stylesheet">
<div class="product-details">

  <!--product-details-->
  <div class="col-sm-5">
    {{!-- <div class="view-product col-sm-">
      <img id="imgOnView" src="{{product.image.[0]}}" alt="" />
      <h3>ZOOM</h3>
    </div> --}}
    <!-- Slideshow container -->
    <div class="slideshow-container">

      <!-- Full-width images with number and caption text -->
      {{#each product.image}}
      <div class="mySlides">
        <img src="{{this}}" style="width:350px; height:400px">
        {{!-- <div class="text">Caption Text</div> --}}
      </div>
      {{/each}}

      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="product-information" id="product-information">
      <!--/product-information-->
      {{#if (or (ne priceDetail.minPrice priceDetail.minPriceBase) (ne priceDetail.maxPrice
      priceDetail.maxPriceBase))}}
      <img src="/images/product-details/sale.jpg" class="newarrival" alt="">
      {{else}}
      {{#if (eq product.condition 'new')}}
      <img src="/images/product-details/new.jpg" class="newarrival" alt="" />
      {{/if}}
      {{/if}}
      <h2>{{product.name}}</h2>
      <form method="POST" action="/cart">
        <p>Web ID:<input type="text" id="productId" value="{{product._id}}" disabled /></p>
        <p><img src="/images/product-details/rating.png" alt="" /></p>
        {{#if (or (ne priceDetail.minPrice priceDetail.minPriceBase) (ne priceDetail.maxPrice
        priceDetail.maxPriceBase))}}
        {{#if (ne priceDetail.minPriceBase priceDetail.maxPriceBase)}}
        <p class="priceBefore" id="priceBefore">{{priceDetail.minPriceBase}} - {{priceDetail.maxPriceBase}}
          {{product.skus.[0].price.currency}}</p>
        {{else}}
        <p class="priceBefore" id="priceBefore">{{priceDetail.maxPriceBase}} {{product.skus.[0].price.currency}}
        </p>
        {{/if}}
        {{/if}}

        <span style="margin: 0px; ">
          {{#if (ne priceDetail.minPrice priceDetail.maxPrice)}}
          <span style="display:block; margin: 0px" id="priceCurrent">{{priceDetail.minPrice}} -
            {{priceDetail.maxPrice}}
            {{product.skus.[0].price.currency}}</span>
          {{else}}
          <span style="display:block; margin: 0px" id="priceCurrent">{{priceDetail.maxPrice}}
            {{product.skus.[0].price.currency}}</span>
          {{/if}}
        </span>

        <p>
          <span style="margin: 0px; ">
            <input type=" text" value="3" />
          </span>

          <button type="button" class="btn btn-fefault cart" id="cart-btn">
            <i class="fa fa-shopping-cart"></i>
            Add to cart
          </button>
        </p>
        <p>
          <b>Quantity: </b><span id="quantity">{{totalQuantity}}</span>
        </p>
        <p><b>Availability:</b> In Stock</p>
        <p><b>Condition:</b> New</p>
        <p><b>Sizes:</b></p>
        <div id="size-list">
          {{#each sizeList}}
          <input class="btn-check" type="radio" value="{{this.[0].size.[size_type]}}"
            id="size-{{this.[0].size.[size_type]}}" name="productSizeList[]" autocomplete="off"
            onchange="sizeBtnClick({{json this}})">
          <label class="btn btn-warning size-btn"
            for="size-{{this.[0].size.[size_type]}}">{{this.[0].size.[size_type]}}</label>
          {{/each}}
        </div>

        <p><b>Colors:</b></p>
        <div class="colors">
          {{#each colorList}}
          <input class="btn-check" value="{{this.[0].color.color_type}}" type="radio" name="productColorList[]"
            id="color-{{this.[0].color.color_type}}" autocomplete="off" onchange="colorBtnClick({{json this}})">
          <label class="btn btn-warning" style="background: {{this.[0].color.color_hex}}"
            for="color-{{this.[0].color.color_type}}">
            <span class="glyphicon glyphicon-ok"></span>
            <span class="glyphicon glyphicon-remove"></span>
          </label>
          {{/each}}
        </div>

        <a href=""><img src="/images/product-details/share.png" class="share img-responsive" alt="" /></a>
      </form>
    </div>
    <!--/product-information-->
  </div>
</div>
<!--/product-details-->

<div class="category-tab shop-details-tab">
  <!--category-tab-->
  <div class="col-sm-12">
    <ul class="nav nav-tabs">
      <li><a href="#details" data-toggle="tab">Details</a></li>
      <li><a href="#tag" data-toggle="tab">Tag</a></li>
      <li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane fade" id="details">

      <div class="col-sm-12">

        <pre>{{product.description}}</pre>
      </div>
    </div>

    <div class="tab-pane fade" id="tag">
      <div class="col-sm-3">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <img src="images/home/gallery1.jpg" alt="" />
              <h2>$56</h2>
              <p>Easy Polo Black Edition</p>
              <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <img src="images/home/gallery2.jpg" alt="" />
              <h2>$56</h2>
              <p>Easy Polo Black Edition</p>
              <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <img src="images/home/gallery3.jpg" alt="" />
              <h2>$56</h2>
              <p>Easy Polo Black Edition</p>
              <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <img src="images/home/gallery4.jpg" alt="" />
              <h2>$56</h2>
              <p>Easy Polo Black Edition</p>
              <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade active in" id="reviews">
      <div class="col-sm-12">
        <ul>
          <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
          <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
          <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
        </ul>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla
          pariatur.</p>
        <p><b>Write Your Review</b></p>

        <form action="#">
          <span>
            <input type="text" placeholder="Your Name" />
            <input type="email" placeholder="Email Address" />
          </span>
          <textarea name=""></textarea>
          <b>Rating: </b> <img src="/images/product-details/rating.png" alt="" />
          <button type="button" class="btn btn-default pull-right">
            Submit
          </button>
        </form>
      </div>
    </div>

  </div>
</div>
<!--/category-tab-->

<div class="recommended_items">
  <!--recommended_items-->
  <h2 class="title text-center">recommended items</h2>

  <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="col-sm-4">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/recommend1.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/recommend2.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/recommend3.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="col-sm-4">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/recommend1.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/recommend2.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <img src="images/home/recommend3.jpg" alt="" />
                <h2>$56</h2>
                <p>Easy Polo Black Edition</p>
                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to
                  cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>
<!--/recommended_items-->

<script src="/js/products/show.js"></script>