<div id="create-product-page">
  <div class="bg">
    <div class="row">
      <form class="mt-4" name="container-form" method="POST" action="/products/handle-form-actions">
        <h2 class="title text-center">Danh sách sản phẩm</h2>
        <div class="status alert alert-success" style="display: none"></div>
        <div class="mt-4 d-flex align-items-center pull-left">
          <a href="/products/getCreate">Thêm sản phẩm</a>
          <div class="form-check mr-2">
            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
            <label class="form-check-label" for="flexCheckDefault">
              Chọn tất cả
            </label>
          </div>

          <select class="form-control-sm checkbox-select-all-options mr-2" name="action" required>
            {{!-- <option value="">-- Chọn hành động --</option> --}}
            <option value="delete">Xóa</option>
            {{!-- <option value="2">Two</option> --}}
            {{!-- <option value="3">Three</option> --}}
          </select>

          <button class="btn btn-primary btn-sm check-box-submit-btn" style="margin:0" disabled="disabled">Thực
            hiện</button>

        </div>
        <div class='mainmenu pull-right'>
          <ul class='nav navbar-nav collapse navbar-collapse'>
            <li class='dropdown'><a href='#'>Sắp xếp<i class='fa fa-angle-down'></i></a>
              <ul role='menu' class='sub-menu'>
                <li style="color:white">Tên {{{sortable 'name' _sort}}}</li>
                <li style="color:white">Trạng thái {{{sortable 'condition' _sort}}}</li>
                <li style="color:white">Phân loại {{{sortable 'categories' _sort}}}</li>
                <li style="color:white">Số lượng Sku {{{sortable 'skus.length' _sort}}}</li>
                <li style="color:white">Số lượng sản phẩm {{{sortable 'total_quantity' _sort}}}</li>
                <li style="color:white">Thời gian tạo {{{sortable 'createdAt' _sort}}}</li>
                <li style="color:white">Lần cập nhật cuối {{{sortable 'updatedAt' _sort}}}</li>

                {{!-- <li><a href='product-details.html'>Product Details</a></li>
                <li><a href='checkout.html'>Checkout</a></li>
                <li><a href='cart.html'>Cart</a></li>
                <li><a href='/login'>Login</a></li> --}}
              </ul>
            </li>
          </ul>
        </div>
        <table class="table mt-4">
          <thead>
            <tr>
              <th scope="col" colspan="2"># </th>
              <th scope="col">
                Tên sản phẩm

                {{{sortable 'name' _sort}}}

              </th>
              <th scope="col">Trạng thái
                {{{sortable 'condition' _sort}}}
              </th>
              <th scope="col">Phân loại
                {{{sortable 'categories' _sort}}}
              </th>
              <th scope="col">Số lượng Sku
                {{{sortable 'skusLength' _sort}}}
              </th>
              <th scope="col">Số lượng sản phẩm
                {{{sortable 'total_quantity' _sort}}}
              </th>
              <th scope="col">Thời gian tạo
                {{{sortable 'createdAt' _sort}}}
              </th>
              <th scope="col" colspan="2">Lần cập nhật cuối
                {{{sortable 'updatedAt' _sort}}}
              </th>
            </tr>
          </thead>
          {{#each clothesItems}}
          <tbody>
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="productIds[]" value="{{this._id}}">
                </div>
              </td>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td>{{this.condition}}</td>
              <td>{{this.categories}}</td>
              <td>{{this.skus.length}}</td>
              <td>{{this.total_quantity}}</td>
              <td>{{this.createdAt}}</td>
              <td>{{this.updatedAt}}</td>
              <td>
                <a href="/products/{{this._id}}/getUpdate" class="btn btn-link">Xem</a>
                <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                  data-target="#delete-product-modal">Xóa</a>
              </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Bạn chưa tạo sản phẩm nào.
                <a href="/products/getCreate">Thêm sản phẩm</a>
              </td>
            </tr>
          </tbody>
          {{/each}}
        </table>
      </form>
    </div>
  </div>
</div>

{{!-- Confirm delete product --}}
<div id="delete-product-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa sản phẩm này
      </div>
      <div class="modal-footer">
        <button id="btn-delete-product" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden forn --}}
<form name="delete-product-form" method="POST">

</form>
<script src='/js/products/stored-products.js'></script>