<div id="create-product-page">
  <div class="bg">
    <div class="row">
      <div class="create-product-form">
        <h2 class="title text-center">Create Product</h2>
        <div class="status alert alert-success" style="display: none"></div>
        <a href="/products/getCreate">Thêm sản phẩm</a>
        <table class="table mt-4">
          <thead>
            <tr>
              <th scope="col" colspan="2">#</th>
              <th scope="col">
                Tên sản phẩm
                {{!-- {{{sortable 'name' _sort}}} --}}

              </th>
              <th scope="col">Trạng thái
                {{!-- {{{sortable 'type' _sort}}} --}}
              </th>
              <th scope="col">Phân loại
                {{!-- {{{sortable 'type' _sort}}} --}}
              </th>
              <th scope="col">Mô tả
                {{!-- {{{sortable 'type' _sort}}} --}}
              </th>
              <th scope="col">Số lượng Sku
                {{!-- {{{sortable 'type' _sort}}} --}}
              </th>
              <th scope="col" colspan="2">Thời gian tạo
                {{!-- {{{sortable 'createdAt' _sort}}} --}}
              </th>
            </tr>
          </thead>
          {{#each clothesItems}}
          <tbody>
            <tr>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                </div>
              </td>
              <th scope="row">{{sum @index 1}}</th>
              <td>{{this.name}}</td>
              <td>{{this.condition}}</td>
              <td>{{this.categories}}</td>
              <td>{{this.description}}</td>
              <td>{{this.skus.length}}</td>
              <td>{{this.createdAt}}</td>
              <td>
                <a href="/products/{{this._id}}/getUpdate" class="btn btn-link">Xem</a>
                <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                  data-target="#delete-course-modal">Xóa</a>
              </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Bạn chưa đăng khóa học nào.
                <a href="/courses/create">Đăng khóa học</a>
              </td>
            </tr>
          </tbody>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>