<div id="create-product-page">
  <div class="bg">
    <div class="row">
      <div class="create-product-form">
        <h2 class="title text-center">Cập nhật sản phẩm</h2>
        <div class="status alert alert-success" style="display: none"></div>
        {{!-- Create Product Form --}}
        <form id="create-product" class="create-product row" name="create-product-form" method="POST"
          action="/products/{{product._id}}/update">
          <div class="form-group col-md-12">
            <label for="name">Tên sản phẩm
            </label>
            <input type="text" name="name" class="form-control" id="formName" value="{{product.name}}"
              required="required">
          </div>
          <div class="form-group col-md-12">
            <label for="condition">Trạng thái</label>
            <select class="form-control" id="formCondition" required="required" name="condition" required="required">
              <option value=' ' {{#if (eq product.categories '' )}}checked{{/if}}>Chọn trạng thái</option>
              <option value="new" {{#if (eq product.categories 'new' )}}checked{{/if}}>Mới</option>
              <option value="out-of-stock" {{#if (eq product.categories 'out-of-stock' )}}checked{{/if}}>Hết hàng
              </option>
              <option value="sale" {{#if (eq product.categories 'sale' )}}checked{{/if}}>Giảm giá</option>

            </select>
          </div>
          <div class="form-group col-md-12">
            <p><label>Phân loại</label></p>
            <fieldset class="form-group row col-md-4">
              <legend class="col-form-label">Tops</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categories" id="t-shirtsCheckbox" value="t-shirts"
                    required="required" {{#if (eq product.categories 't-shirts' )}}checked{{/if}}>
                  <label class="form-check-label" for="t-shirtsCheckbox">
                    T-shirts & Polo shirts
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categories" id="shirtsCheckbox" value="shirts"
                    {{#if (eq product.categories 'shirts' )}}checked{{/if}}>
                  <label class="form-check-label" for="shirtsCheckbox">
                    Shirts
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categories" id="longsleevesCheckbox"
                    value="longsleeves" {{#if (eq product.categories 'longsleeves' )}}checked{{/if}}>
                  <label class="form-check-label" for="longsleevesCheckbox">
                    Longsleeves
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categories" id="sweaterAndCardigansCheckbox"
                    value="sweaterAndCardigans" {{#if (eq product.categories 'sweaterAndCardigans' )}}checked{{/if}}>
                  <label class="form-check-label" for="sweaterAndCardigansCheckbox">
                    Sweater & Cardigans
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categories" id="sweattshirstsAndHoddiesCheckbox"
                    value="sweattshirstsAndHoddies" {{#if (eq product.categories 'sweattshirstsAndHoddies'
                    )}}checked{{/if}}>
                  <label class="form-check-label" for="sweattshirstsAndHoddiesCheckbox">
                    Sweattshirsts & Hoddies
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categories" id="outerwearCheckbox"
                    value="outerwear" {{#if (eq product.categories 'outerwear' )}}checked{{/if}}>
                  <label class="form-check-label" for="outerwearCheckbox">
                    Outerwear
                  </label>
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group row col-md-4">
              <legend class="col-form-label">Bottom</legend>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categories" id="dressesAndSkirtsCheckbox"
                  value="dressesAndSkirts" {{#if (eq product.categories 'dressesAndSkirts' )}}checked{{/if}}>
                <label class="form-check-label" for="dressesAndSkirtsCheckbox">
                  Dresses & Skirts
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categories" id="pantsCheckbox" value="pants" {{#if
                  (eq product.categories 'pants' )}}checked{{/if}}>
                <label class="form-check-label" for="pantsCheckbox">
                  Pants
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categories" id="shortsCheckbox" value="shorts" {{#if
                  (eq product.categories 'shorts' )}}checked{{/if}}>
                <label class="form-check-label" for="shortsCheckbox">
                  Shorts
                </label>
              </div>
            </fieldset>
            <fieldset class="form-group row col-md-4">
              <legend class="col-form-label">Accessories</legend>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categories" id="capsHatsCheckbox" value="capsHats"
                  {{#if (eq product.categories 'capsHats' )}}checked{{/if}}>
                <label class="form-check-label" for="capsHatsCheckbox">
                  Caps/Hats
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categories" id="walletsCheckbox" value="wallets"
                  {{#if (eq product.categories 'wallets' )}}checked{{/if}}>
                <label class="form-check-label" for="walletsCheckbox">
                  Wallets
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categories" id="socksCheckbox" value="socks" {{#if
                  (eq product.categories 'socks' )}}checked{{/if}}>
                <label class="form-check-label" for="socksCheckbox">
                  Socks
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="categories" id="otherAccessoriesCheckbox"
                  value="otherAccessories" {{#if (eq product.categories 'otherAccessories' )}}checked{{/if}}>
                <label class="form-check-label" for="otherAccessoriesCheckbox">
                  Other Accessories
                </label>
              </div>
            </fieldset>
          </div>
          <div class="form-group col-md-12">
            <label for="description">Mô tả</label>
            <textarea name="description" id="descriptionTextarea" required="required" class="form-control"
              rows="8">{{product.description}}</textarea>
          </div>
          <div class="form-group col-md-12">
            <legend class="col-form-label" for="img">Hình ảnh</legend>
            <div class="input-group mb-3">
              {{!-- <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div> --}}
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="imageInputGroupFile" name="image" multiple="multiple">
                <label class="custom-file-label" for="imageInputGroupFile">Choose file</label>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <input type="submit" name="submit" class="btn btn-primary pull-right" value="Submit">
          </div>
        </form>
        <form class="mt-4" name="container-form" method="POST"
          action="/products/{{product._id}}/handle-skus-form-actions">
          <label for="">Skus</label>
          <p><a href="/products/{{product._id}}/getCreateSku">Thêm Sku</a></p>
          <div class="mt-4 d-flex align-items-center">
            <div class="form-check mr-2">
              <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
              <label class="form-check-label" for="flexCheckDefault">
                Chọn tất cả
              </label>
            </div>

            <select class="form-control-sm checkbox-select-all-options mr-2" name="action" required>
              {{!-- <option value="">-- Chọn hành động --</option> --}}
              <option value="delete">Xóa</option>
              {{!-- <option value="2">Two</option> --}}
              {{!-- <option value="3">Three</option> --}}
            </select>

            <button class="btn btn-primary btn-sm check-box-submit-btn" style="margin:0" disabled="disabled">Thực
              hiện</button>

          </div>
          <table class=" table mt-4">
            <thead>
              <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">
                  Color
                  {{!-- {{{sortable 'name' _sort}}} --}}

                </th>
                <th scope="col">Size
                  {{!-- {{{sortable 'type' _sort}}} --}}
                </th>
                <th scope="col">Price base
                  {{!-- {{{sortable 'type' _sort}}} --}}
                </th>
                <th scope="col">Price currency
                  {{!-- {{{sortable 'type' _sort}}} --}}
                </th>
                <th scope="col">Price discount
                  {{!-- {{{sortable 'type' _sort}}} --}}
                </th>
                <th scope="col">Số lượng
                  {{!-- {{{sortable 'type' _sort}}} --}}
                </th>
                <th scope="col" colspan="2">Thời gian tạo
                  {{!-- {{{sortable 'createdAt' _sort}}} --}}
                </th>
              </tr>
            </thead>
            {{#each product.skus}}
            <tbody>
              <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="productIds[]" value="{{this._id}}">
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.color.color_type}}</td>
                <td>{{this.size.size_type}}</td>
                <td>{{this.price.base}}</td>
                <td>{{this.price.currency}}</td>
                <td>{{this.price.discount}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                  <a href="/products/{{../this.product._id}}/getUpdateSku/{{this._id}}" class="btn btn-link">Sửa</a>
                  <a href="" class="btn btn-link" data-toggle="modal" data-id="{{../this.product._id}} {{this._id}}"
                    data-target="#delete-sku-modal">Xóa</a>
                </td>
              </tr>
              {{else}}
              <tr>
                <td colspan="5" class="text-center">
                  Bạn chưa tạo Sku nào.
                  <a href="/products/{{product._id}}/getCreateSku">Tạo Sku</a>
                </td>
              </tr>
            </tbody>
            {{/each}}
          </table>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- Confirm delete product --}}
<div id="delete-sku-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa sản phẩm ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa sản phẩm này
      </div>
      <div class="modal-footer">
        <button id="btn-delete-sku" type="button" class="btn btn-danger">Xóa bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden forn --}}
<form name="delete-sku-form" method="POST">

</form>

<script src='/js/products/update.js'></script>