<head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/profile.css" type="text/css">
</head>
<div class="container bootstrap snippets bootdey">
<div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round">
              <a href="#">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
              </a>
              <h1>{{userInfo.name}}</h1>
              <p>{{userInfo.email}}</p>

          </div>

          <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#profile" data-toggle="tab"> <i class="fa fa-user"></i> Profile</a></li>
              <li><a href="#edit" data-toggle="tab"> <i class="fa fa-edit"></i> Edit profile </a></li>
              <li><a href="/account/signout"> <i class="fa fa-sign-out"></i> Sign out </a></li>
          </ul>
      </div>
  </div>
  <div class="tab-content">
    <div class="profile-info col-md-9 tab-pane fade in active" id="profile">
        <div class="panel">
            <div class={{class}}>
                <h2>{{status}}</h2>
            </div>
            <div class="bio-graph-heading">
                Thứ mà một developer làm trong 30 phút, hai developer có thể hoàn thành trong 60 phút
            </div>
            <div class="panel-body bio-graph-info">
                <h1>Thông tin tài khoản</h1>
                <div class="row">
                    <div class="bio-row">
                        <p><span>Tên người dùng </span>: {{userInfo.name}}</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Email </span>: {{userInfo.email}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="bio-chart">
                                <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas>
                                <input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="Hi!" data-fgcolor="#e06b7d" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(224, 107, 125); padding: 0px; -webkit-appearance: none; background: none;"></div>
                            </div>
                            <div class="bio-desk">
                                <h4 class="red">Ngày tham gia</h4>
                                <p>27/05/2022</p>
                                <p>Thành viên mới</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="bio-chart">
                                <div style="display:inline;width:100px;height:100px;">
                                    <canvas width="100" height="100px"></canvas>
                                    <input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="22" data-fgcolor="#4CC5CD" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(76, 197, 205); padding: 0px; -webkit-appearance: none; background: none;">
                                </div>
                            </div>
                            <div class="bio-desk">
                                <h4 class="terques">Tổng số sản phẩm được thêm vào giỏ hàng</h4>
                                <p>Có vẻ bạn rất thích đồ của bọn mình!</p>
                                <p>Tiếp tục tìm kiếm những món hàng chất lượng...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="bio-chart">
                                <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="12" data-fgcolor="#96be4b" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(150, 190, 75); padding: 0px; -webkit-appearance: none; background: none;"></div>
                            </div>
                            <div class="bio-desk">
                                <h4 class="green">Tổng số đơn hàng</h4>
                                <p>Bạn rất thích mua sắm</p>
                                <p>Mua sắm: Niềm vui và còn nhiều hơn thế!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="bio-chart">
                                <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="50" data-fgcolor="#cba4db" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(203, 164, 219); padding: 0px; -webkit-appearance: none; background: none;"></div>
                            </div>
                            <div class="bio-desk">
                                <h4 class="purple">Tổng số bình luận</h4>
                                <p>Tích cực trao đổi thông tin</p>
                                <p>Thông tin là sức mạnh</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="edit" class="fade tab-pane profile-info">
        <h3>Personal info</h3>
        <div class="col-md-9">
            <form action="/login/update" method="post" class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label">First name:</label>
                <div class="col-md-7">
                <input class="form-control" type="text" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Last name:</label>
                <div class="col-md-7">
                <input class="form-control" type="text" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Mật khẩu hiện tại:</label>
                <div class="col-md-7">
                <input class="form-control" type="password" name="password" id="password" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Mật khẩu mới:</label>
                <div class="col-md-7">
                <input class="form-control" type="password" name="REpassword" id="REpassword" value="">
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-warning">Xác nhận thay đổi</button>
            </div>
            
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
